<ion-header [translucent]="true">
  <ion-toolbar style="--background: #ff7300;">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="first" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Añadir Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="tasks" (ngSubmit)="this.sendForm()">
    <ion-item>
      <ion-input type="text" formControlName="title" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="description" placeholder="Descripción" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" style="--color:#ffa44f; --border-color:#ffa44f;" fill="outline" type="submit" [disabled]="!tasks.valid">Añadir
      </ion-button>
    </div>
  </form>
</ion-content>