.avatar{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.cerrarSesion{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.nombre{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}