<ion-header>
  <ion-toolbar style="--background: #ff7300;">
    <ion-button slot="start" fill="clear" color="light" (click)="presentAlertConfirm()">
      <ion-icon name="arrow-back-outline" style="zoom: 1.25;"></ion-icon>
    </ion-button>
    <ion-title color="light">{{'EDITAR NOTA' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tasks" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-input type="text" formControlName="titulo" placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="texto" placeholder="Texto" autocapitalize="true" auto-grow="true">
      </ion-textarea>
    </ion-item>
    <div style="text-align: right;">
      <ion-button shape="round" style="--color:#ffa44f; --border-color:#ffa44f;" fill="outline" type="submit"
        [disabled]="!tasks.valid">{{'EDITAR' | translate}}
      </ion-button>
    </div>
  </form>
</ion-content>